<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Register</h1>
    <br />
    <form method="POST" action="/student/register">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Name"
          name="name"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          name="username"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="email"
          name="email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="password"
          name="password"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="confirm password"
          name="passwordConfirm"
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control"
          placeholder="contact number"
          name="contact_number"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Father's name"
          name="fatherName"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Mother's name"
          name="motherName"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="batch"
          name="batch"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="col-md-4"></div>
</div>
