<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <br />
    <br />
    <br />
    <h1>Login</h1>
    <br />
    <form method="POST" action="/student/login">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          name="username"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
          name="password"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
    <br />
    <br />
    <small>New User? <a href="/student/register">Sign Up</a></small>
  </div>
  <div class="col-md-4"></div>
</div>
